h1 {
  font-family: Helvetica sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-image: url("pattern.jpeg");
  color: khaki;
}
.brushes,
.paint,
.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}
.paint {
  background-color: lightcoral;
}

.frames {
  background-color: skyblue;
}

.price {
  display: inline-flex;
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
