.container {
  display: grid;
  grid-template-columns: 30%, 70%;
  grid-gap: 1em;
  overflow: auto;
  font-family: Arial, sans-serif;


}

/* menu button css */
.dropDown {}

@keyframes pulse {
  0% {
    -moz-box-shadow: 5px 5px 8px 7px #ccc;
    -webkit-box-shadow: 5px 5px 8px 7px #ccc;
    box-shadow: 5px 5px 8px 7px #ccc;
  }

  20% {
    -moz-box-shadow: 1px 1px 3px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px 3px #ccc;
    box-shadow: 1px 1px 3px 3px #ccc;
  }

  50% {
    -moz-box-shadow: 0px 0px 1px 1px #ccc;
    -webkit-box-shadow: 0px 0px 1px 1px #ccc;
    box-shadow: 0px 0px 1px 1px #ccc;
  }

  100% {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
  }
}

#menu {
  font-size: 2rem;
  margin-bottom: 0;
  height: 4rem;
  width: 10rem;
  background-color: #0493C3;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

#menu:hover {
  -webkit-animation-play-state: paused;
}

.menuList {
  background-color: slategrey;
  width: 8rem;
  box-shadow: 2px 3px;
  z-index: 50;
  margin-left: 2rem;
  position: absolute;
  padding: 6px;
  cursor: pointer;



}

.menuList div {
  padding: 8px;
}


.menuList a {
  text-decoration: none;
  color: black;
}


/* button css end  */


.text,
.text2 {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 70vh;
}

/* rainbow css */

.blackAndWhite {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

}

.black {
  background-color: black;

}

.blackAndWhiteTwo {
  grid-column-start: 2;
  grid-row: 1;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

}

/* footer part */

footer {
  grid-column-start: 2;
  /* margin-bottom: 4rem; */
}