.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;

}

.dropDown {
  position: fixed;
}

#menu {
  margin: 2rem;
  height: 2rem;
  width: 5rem;
  background-color: #0493C3;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 2px 3px;
}

.menuList {
  background-color: grey;

}

.text,
.text2 {
  grid-column-start: 2;
}