.container {
  display: grid;
  grid-template-columns: 30%, 70%;
  grid-gap: 1em;
  overflow: auto;
  font-family: Arial, sans-serif;


}

/* menu button css */
.dropDown {}

#menu {
  margin: 1rem;
  margin-bottom: 0;
  height: 4rem;
  width: 8rem;
  background-color: #0493C3;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 2px 3px;
}

.menuList {
  background-color: slategrey;
  width: 8rem;
  box-shadow: 2px 3px;
  border-radius: 5%;
  z-index: 50;
  margin-left: 2rem;
  position: absolute;


}

.menuList div a {
  text-decoration: none;

}

/* button css end  */


.text,
.text2 {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 70vh;
}

/* rainbow css */

.blackAndWhite {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

}

.black {
  background-color: black;
}


/* footer part */

footer {
  grid-column-start: 2;
  /* margin-bottom: 4rem; */
}